* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  max-width: 1500px;
  margin: 0 auto;
  overflow-x: hidden;
}

header nav :first-child a {
  text-decoration: none;
  color: white;
}

.nav_color {
  background-color: rgb(211, 86, 73);
}

main {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 20px;
  width: 100%;
  margin-top: 0;
}

#main .jumbotron {
  background-color: white;
}

.contact_employer {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

#main a {
  text-decoration: none;
}

.contact_employer > * {
  flex-wrap: wrap;
  flex: 1 1;
}

#section2 {
  margin: 0 auto;
}

#section2 .form input {
  border: 2px solid grey;
  border-bottom: 2px dotted grey;
  width: 48vw;
  padding: 7px 0;
}

#section2 .form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 48vw;
  margin: 0 auto;
}

#section2 .form > div {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

#section2 .form .sign_button {
  display: flex;
  flex-direction: row;
}

footer {
  background-color: black;
  padding-top: 20px;
  width: 100%;
}

footer hr {
  height: 1px;
  color: white;
  border: none;
  background-color: white;
}

footer .footer_links {
  display: flex;
  padding: 1px 0;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .contact_employer {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  .display-none {
    display: none;
  }

  footer .footer_links {
    font-size: 12px;
  }

  #section2 .sign_button button {
    font-size: 13px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .display-none {
    display: none;
  }

  .contact_employer > * {
    flex-wrap: wrap;
    flex: 1 1;
  }
}

@media (min-width: 1025px) {
  .display-none {
    display: inline;
  }
}
